<mat-card class="dashboard-card">
	<mat-card-title>Unassigned</mat-card-title>
	<mat-card-content>
		<div class="channel-row" *ngFor="let channel of channels">
			<div style="flex: 1" class="address-cell">{{channel.address}}</div>
			<div class="column slider-cell">
				<mat-slider thumbLabel="true" class="channel-value-slider" (input)="updateValue(channel.address - 1, $event.value)" min="0"
				 max="255">
				</mat-slider>
				<div *ngIf="channel.selected" class="column">
					<mat-form-field>
						<input matInput type="text" required [(ngModel)]="channel.name" placeholder="Name">
					</mat-form-field>
					<mat-form-field>
						<input matInput type="number" required min="0" max="255" [(ngModel)]="channel.min" placeholder="Min">
					</mat-form-field>
					<mat-form-field>
						<input matInput type="number" required min="0" max="255" [(ngModel)]="channel.max" placeholder="Max">
					</mat-form-field>
				</div>

			</div>
			<div style="flex: 1" class="actions-cell">
				<button mat-icon-button *ngIf="!channel.selected" type="button" class="select-channel-button" (click)="selectChannel(channel, true)"
				 matTooltip="Add new type of fixture">
					<mat-icon>create_new_folder</mat-icon>
				</button>
				<button mat-icon-button class="deselect-channel-button" type="button" *ngIf="channel.selected" color="warn" (click)="selectChannel(channel, false)">
					<mat-icon>remove_circle</mat-icon>
				</button>
				<button mat-icon-button *ngIf="!channel.selected" type="button" (click)="addFixture(channel)" matTooltip="Add fixture from library">
					<mat-icon>folder_open</mat-icon>
				</button>
			</div>
		</div>
	</mat-card-content>
</mat-card>
<button mat-fab type="button" (click)="addFixtureDefinition()" *ngIf="selectedChannels.length > 0" @slideInBackOut class="fixed-fab create-new-fixture-button">
	<mat-icon class="mat-18">create_new_folder</mat-icon>
</button>