@using kadmium_osc_dmx_dotnet_core
@using kadmium_osc_dmx_dotnet_core.Transmitters
@using kadmium_osc_dmx_dotnet_core.Listeners
@using kadmium_osc_dmx_dotnet_webui.ViewHelpers
@{
    ViewData["Title"] = "Dashboard";
}

<div id="status-alerts">

</div>

<div class="row">
    <binding-context data-bind="with: venue">
        <div class="col-sm-3">
            <div class="panel" data-bind="css: panelClass">
                <div class="panel-heading text-center"><span class="item-name" data-bind="text: name"></span></div>
                <div class="panel-body text-center" data-bind="css: alertClass">
                    <span class="status-glyph glyphicon" data-bind="css: glyphClass"></span><br>
                    <span data-bind="text: message"></span>
                </div>
                <div class="panel-footer text-center">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Load Venue <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            @{
                                foreach (string venueName in FileAccess.GetVenueNames())
                                {
                                    <li><a href="#" data-bind="click: loadVenue" >@venueName</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </binding-context>

    <binding-context data-bind="foreach: sacnTransmitters">
        <div class="col-sm-3">
            <div class="panel" data-bind="css: panelClass" >
                <div class="panel-heading text-center"><span class="item-name" data-bind="text: name"></span></div>
                <div class="panel-body text-center" data-bind="css: alertClass">
                    <span class="glyphicon status-glyph" data-bind="css: glyphClass" ></span><br>
                    <span data-bind="text: message" >Loading...</span>
                </div>
                <div class="panel-footer text-center">
                    <a class="btn btn-info" data-bind="attr: {href: liveURL}">Live</a>
                </div>
            </div>
        </div>
    </binding-context>

    <binding-context data-bind="foreach: oscListeners">
        <div class="col-sm-3">
            <div class="panel" data-bind="css: panelClass">
                <div class="panel-heading text-center"><span class="item-name" data-bind="text: name"></span></div>
                <div class="panel-body text-center" data-bind="css: alertClass">
                    <span class="glyphicon status-glyph" data-bind="css: glyphClass"></span><br>
                    <span data-bind="text: message">Loading...</span>
                </div>
                <div class="panel-footer text-center">
                    <a class="btn btn-info" data-bind="attr: {href: liveURL}">Live</a>
                </div>
            </div>
        </div>
    </binding-context>

</div>
@section scripts
{
    <script>
        require(["Controllers/Dashboard/Dashboard"]);
    </script>
}

