@using kadmium_osc_dmx_dotnet_core
@using kadmium_osc_dmx_dotnet_core.Transmitters
@using kadmium_osc_dmx_dotnet_core.Listeners
@using kadmium_osc_dmx_dotnet_webui.ViewHelpers
@{
    ViewData["Title"] = "Dashboard";
}

@Html.Partial("StatusAlerts")
@Html.Partial("LoadingPanel")

<div class="row" data-bind="visible: load.done" style="display: none">
    <binding-context data-bind="with: venue">
        <div class="col-sm-3">
            <div class="panel" data-bind="css: panelClass">
                <div class="panel-heading text-center"><span class="item-name">Venue</span></div>
                <div class="panel-body text-center" data-bind="css: alertClass">
                    <span class="status-glyph glyphicon" data-bind="css: glyphClass"></span><br>
                    <span data-bind="text: message"></span>
                </div>
                <div class="panel-footer text-center">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Load Venue <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            @{
                                foreach (string venueName in FileAccess.GetVenueNames())
                                {
                                    <li><a href="#" data-bind="click: loadVenue" >@venueName</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </binding-context>

    <binding-context data-bind="with: sacnTransmitter">
        <div class="col-sm-3">
            <div class="panel" data-bind="css: panelClass">
                <div class="panel-heading text-center"><span class="item-name">sACN Transmitter</span></div>
                <div class="panel-body text-center" data-bind="css: alertClass">
                    <span class="glyphicon status-glyph" data-bind="css: glyphClass"></span><br>
                    <span data-bind="text: message">Loading...</span>
                </div>
                <div class="panel-footer text-center">
                    <a class="btn btn-info" asp-controller="SACNTransmitters">Live</a>
                </div>
            </div>
        </div>
    </binding-context>

    <binding-context data-bind="with: oscListener">
        <div class="col-sm-3">
            <div class="panel" data-bind="css: panelClass">
                <div class="panel-heading text-center"><span class="item-name">OSC Listener</span></div>
                <div class="panel-body text-center" data-bind="css: alertClass">
                    <span class="glyphicon status-glyph" data-bind="css: glyphClass"></span><br>
                    <span data-bind="text: message">Loading...</span>
                </div>
                <div class="panel-footer text-center">
                    <a class="btn btn-info" asp-controller="OSCListeners">Live</a>
                </div>
            </div>
        </div>
    </binding-context>
    
    <binding-context data-bind="with: fixtures">
        <div class="col-sm-3">
            <div class="panel" data-bind="css: panelClass">
                <div class="panel-heading text-center"><span class="item-name">Fixtures</span></div>
                <div class="panel-body text-center" data-bind="css: alertClass">
                    <span class="glyphicon status-glyph" data-bind="css: glyphClass"></span><br>
                    <span data-bind="text: message">Loading...</span>
                </div>
                <div class="panel-footer text-center">
                    <a class="btn btn-info" asp-controller="Fixtures">Live</a>
                </div>
            </div>
        </div>
    </binding-context>

</div>
@section scripts
{
    <environment names="Development">
        <script src="http://localhost:8080/dashboard.bundle.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/dashboard.bundle.js"></script>
    </environment>
}

