@using kadmium_osc_dmx_dotnet_core.Fixtures
@using kadmium_osc_dmx_dotnet_core
@using kadmium_osc_dmx_dotnet_webui.Controllers;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "2D Preview";
}
<binding-context data-bind="foreach: groups">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="item-name" data-bind="text: name"></span></div>
        <div class="panel-body">
            <div class="row">
                <binding-context data-bind="foreach: fixtures">
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center"><span class="item-name" data-bind="text: name"></span> - <span class="item-name" data-bind="text: address"></span></div>
                            <div class="panel-body text-center">
                                <canvas class="fixture-canvas" width="150" height="150" data-bind="attr: {id: 'canvas-' + address()}"></canvas>
                                <br>
                                <button data-toggle="collapse" data-bind="attr: { 'data-target': '#dmx' + address() }" class="btn btn-default">DMX</button>
                                <div data-bind="attr: {id: 'dmx' + address()}" class="collapse">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>DMX</th>
                                                <th>Name</th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: channels">
                                            <tr>
                                                <th data-bind="text: address"></th>
                                                <th data-bind="text: name"></th>
                                                <th data-bind="text: dmxValue"></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </binding-context>
            </div>
        </div>
    </div>
</binding-context>
@section scripts
{
    <script>
        require(["Controllers/Preview2D/Preview2D"])
    </script>
}
