@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "3D Preview";
}

<div class="row">
    <div class="col-sm-10" id="preview-container">
        
    </div>
</div>

<script src="~/lib/three.js/build/three.js"></script>
<script src="~/lib/three.js/examples/js/controls/OrbitControls.js"></script>
<script src="~/js/Preview3D.js"></script>