<form *ngIf="groups" #groupsForm="ngForm">
    <fieldset [disabled]="saving">
        <legend>Group Options</legend>
        <mat-table #table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="order">
                <mat-header-cell *matHeaderCellDef> Order </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-button (click)="swap(getElementIndex(element), getElementIndex(element) - 1)" [disabled]="getElementIndex(element) == 0">
                        <mat-icon label="Move Down">arrow_upward</mat-icon>
                    </button>
                    <button mat-button (click)="swap(getElementIndex(element), getElementIndex(element) + 1)" [disabled]="getElementIndex(element) == groups.length - 1">
                        <mat-icon label="Move Down">arrow_downward</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field floatPlaceholder="never">
                        <input matInput required [unique]="getOtherGroupNames(element)" type="text" [(ngModel)]="element.name" [name]="'groupName[' + getElementIndex(element) + ']'"
                            placeholder="Name">
                    </mat-form-field>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-raised-button color="warn" (click)="delete(element)">
                        <mat-icon aria-label="Remove">remove</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">

            </mat-row>
        </mat-table>

        <button mat-raised-button color="primary" (click)="add()">
            <mat-icon aria-label="Add">add</mat-icon>
        </button>
        <br>
        <button mat-raised-button color="primary" [disabled]="!groupsForm.valid" (click)="save()">
            <mat-icon>save</mat-icon> Save</button>
        <button mat-raised-button [disabled]="!groupsForm.valid" (click)="download()">
            <mat-icon>file_download</mat-icon> Download</button>
        <button mat-raised-button [disabled]="!groupsForm.valid" (click)="upload(fileInput)">
            <mat-icon>file_upload</mat-icon> Upload</button>
        <input #fileInput type="file" name="name" style="display: none;" (change)="filesSelected($event.target.files)" multiple>
    </fieldset>
</form>