@{
    ViewData["Title"] = "Testing";
}
@Html.Partial("LoadingPanel")
<binding-context data-bind="foreach: groups">
    <div class="panel panel-default">
        <div class="panel-heading"><span data-bind="text: name"></span></div>
        <div class="panel-body">
            <binding-context data-bind="foreach: stateGroups">
                <ul class="nav nav-pills nav-justified" data-bind="foreach: states">
                    <li data-bind="css: { active: $parent.activeState() == $data }">
                        <a href="#" data-bind="text: name, click: $parent.activate.bind($parent)"></a>
                    </li>
                </ul>
            </binding-context>
        </div>
    </div>
</binding-context>

@section scripts
{
    <environment names="Development">
        <script src="http://localhost:8080/testing.bundle.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/testing.bundle.js"></script>
    </environment>    
}