<app-busy-card [loading]="loading" [saving]="saving"></app-busy-card>
<form *ngIf="!loading && !saving" (ngSubmit)="save()" #settingsForm="ngForm">
    <mat-toolbar class="main-toolbar">
        <app-sidenav-toggle></app-sidenav-toggle>
        Settings
        <span class="toolbar-spacer"></span>
        <button mat-icon-button color="primary" type="submit" [disabled]="!settingsForm.valid" matTooltip="Save">
            <mat-icon aria-label="Save">save</mat-icon>
        </button>
    </mat-toolbar>
    <mat-card class="main-card" @slideIn>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label='Ports'>
                    <div class="column top-margin">
                        <mat-form-field>
                            <input matInput required type="number" name="webPort" min="1" max="65535" [(ngModel)]="settings.webPort" placeholder="HTTP Port"
                            />
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput required type="number" name="oscPort" min="1" max="65535" [(ngModel)]="settings.oscPort" placeholder="OSC Port"
                            />
                        </mat-form-field>
                    </div>
                </mat-tab>

                <mat-tab label="sACN">
                    <div class="column top-margin">
                        <mat-form-field>
                            <input matInput required type="number" name="sacnTransmitterDelay" min="0" max="10000" [(ngModel)]="settings.sacnTransmitter.delay"
                                placeholder="Delay (ms)" />
                        </mat-form-field>
                        <mat-checkbox [(ngModel)]="settings.sacnTransmitter.multicast" name="sacnMulticast">Multicast</mat-checkbox>

                        <div>
                            <mat-toolbar class="sub-toolbar">
                                sACN Unicast Targets
                                <span class="toolbar-spacer"></span>
                                <button mat-icon-button type="button" (click)="addElement()" matTooltip="Add Target">
                                    <mat-icon aria-label="Add">add</mat-icon>
                                </button>
                            </mat-toolbar>
                            <div class="column">
                                <mat-list>
                                    <mat-list-item *ngFor="let target of fakeTargets; let i = index" class="column" @fadeOut>
                                        <div fxLayout="row" class="unicastTargetWrapper">
                                            <mat-form-field @growX class="unicastTargetName">
                                                <input matInput required type="text" [(ngModel)]="target.target" [name]="'unicast[' + i + ']'" placeholder="Address" />
                                            </mat-form-field>
                                            <button mat-icon-button class="actionsCell" type="button" color="warn" (click)="removeElement(i)" matTooltip="Remove">
                                                <mat-icon aria-label="Remove">remove_circle</mat-icon>
                                            </button>
                                        </div>
                                    </mat-list-item>
                                </mat-list>

                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Enttec Pro">
                    <div class="column top-margin">
                        <mat-form-field>
                            <input matInput required type="number" name="enttecProTransmitterDelay" min="0" max="10000" [(ngModel)]="settings.enttecProTransmitter.delay"
                                placeholder="Delay (ms)" />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select name="enttecProTransmitterPort" [(ngModel)]="settings.enttecProTransmitter.port" placeholder="Port">
                                <mat-option *ngFor="let port of enttecPorts" [value]="port">{{port}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>


</form>