<div class="panel panel-default">
    <div class="panel-heading" (click)="venueListIsCollapsed = !venueListIsCollapsed">Load Venue
        <span class="caret"></span>
    </div>
    <div class="panel-body" [collapse]="venueListIsCollapsed">
        <ul class="list-group">
            <li *ngFor="let venue of venues" class="list-group-item" (click)="selectedVenue = venue" [ngClass]="{'active': venue == selectedVenue}">{{venue.name}}</li>
        </ul>
        <button class="btn btn-primary btn-lg" (click)="loadVenue(selectedVenue)">Load Venue</button>
    </div>
</div>