<p *ngIf="!settings">Loading...</p>
<form *ngIf="settings" class="form-horizontal" #settingsForm="ngForm">
    <fieldset [disabled]="saving">
        <labelled-input label="HTTP Port:">
            <input #input type="number" name="webPort" class="form-control" min="1" max="65535" [(ngModel)]="settings.webPort" #model="ngModel"
            />
        </labelled-input>
        <labelled-input label="OSC Port:">
            <input #input required type="number" name="oscPort" class="form-control" min="1" max="65535" [(ngModel)]="settings.oscPort"
                #model="ngModel" />
        </labelled-input>
        <labelled-input label="sACN Transmitter Delay (ms):">
            <input #input type="number" name="sacnTransmitterDelay" class="form-control" min="0" max="10000" [(ngModel)]="settings.sacnTransmitter.delay"
                #model="ngModel" />
        </labelled-input>
        <labelled-input label="sACN Transmitter Multicast:">
            <div class="checkbox">
                <label><input #input type="checkbox" name="sacnMulticast" [(ngModel)]="settings.sacnTransmitter.multicast" #sacnMulticast="ngModel" #model="ngModel" >Multicast</label>
            </div>
        </labelled-input>
        <div class="panel panel-default">
            <div class="panel-heading">sACN Unicast Targets</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let target of settings.sacnTransmitter.unicast; let i = index">
                            <td>
                                <table-input>
                                    <input required type="text" class="form-control col-sm-8" [(ngModel)]="settings.sacnTransmitter.unicast[i].target" [name]="'unicast[' + i + ']'"
                                        #input #model="ngModel" />
                                </table-input>
                            </td>
                            <td>
                                <button class="btn btn-danger" (click)="removeTarget(i)"><span class="glyphicon glyphicon-remove"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer"><button class="btn btn-success" (click)="addTarget()"><span class="glyphicon glyphicon-plus"></span></button></div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" (click)="save()" [disabled]="!settingsForm.valid"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
        </div>
    </fieldset>
</form>