<mat-toolbar>
    <span>{{venue?.name}}</span>
    <span class="toolbar-spacer"></span>
    <button mat-raised-button color="primary" (click)="loadVenue()">
        <mat-icon>folder_open</mat-icon> Load Venue</button>
</mat-toolbar>

<mat-list>
    <mat-list-item *ngFor="let universe of venue?.universes">
        <h3 matLine>{{universe.name}}</h3>
        <a matLine mat-button routerLink="dmx/{{universe.universeID}}">DMX Channels ({{getDMXChannelCount(universe)}})</a>
        <a matLine mat-button routerLink="fixtures/{{universe.universeID}}">Fixtures ({{getFixtureCount(universe)}})</a>
    </mat-list-item>
</mat-list>