<div class="mat-typography">
	<form #nameForm="ngForm">
		<h1 mat-dialog-title>Create Venue</h1>
		<div mat-dialog-content>
			<mat-form-field>
				<input matInput type="text" required name="name" placeholder="Name" [(ngModel)]="name">
			</mat-form-field>
		</div>
		<div mat-dialog-actions>
			<button mat-button [mat-dialog-close]="name" [disabled]="nameForm.invalid">
				Create
			</button>
			<button mat-button [mat-dialog-close]="null" tabindex="-1">
				Cancel
			</button>
		</div>
	</form>
</div>