@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "OSC Listener Live View";
}

@Html.Partial("LoadingPanel")
<binding-context data-bind="visible: load.done" style="display: none">
    <div class="form-group">
        <label for="recognisedTextarea">Recognised OSC Messages</label>
        <textarea class="form-control" id="recognisedTextarea" style="max-width: 100%" rows="20"></textarea>
    </div>
    <div class="form-group">
        <label for="recognisedTextarea">Unrecognised OSC Messages</label>
        <textarea class="form-control" id="unrecognisedTextarea" style="max-width: 100%" rows="20"></textarea>
    </div>
</binding-context>

@section scripts
{
    <environment names="Development">
        <script src="http://localhost:8080/oscListenerLive.bundle.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/oscListenerLive.bundle.js"></script>
    </environment>
}