@{
    ViewData["Title"] = "OSC Listeners";
}

<binding-context data-bind="with: selectedItem">
    <modal-window large="true" id="modal-edit">
        <modal-header>Editing <span class="item-name" data-bind="text: name"></span></modal-header>
        <modal-body>
            @Html.Partial("ModalEditorStatus")
            <div class="form-horizontal" id="edit-form">
                <input-label label="Name:" data-bind="validationElement: name"><input type="text" class="form-control" data-bind="value: name"></input-label>
                <input-label label="Port:" data-bind="validationElement: port"><input type="number" class="form-control" data-bind="value: port" min="1" max="65535"></input-label>
            </div>
        </modal-body>
        <modal-footer>
            @Html.Partial("ModalEditorFooter")
        </modal-footer>
    </modal-window>
</binding-context>

@Html.Partial("ItemList", ViewContext.RouteData.Values["controller"].ToString())

@section scripts
{
    <script>
        require(["Controllers/OSCListeners/OSCListeners"])
    </script>
}
