<table class="table table-striped">
    <thead>
        <tr>
            <th>Look</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of skeletons">
            <td>{{entry.name}}</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-success" href="/api/look/{{entry.id}}" [download]="entry.name + '.json'"><span class="glyphicon glyphicon-cloud-download"></span></a>
                    <a class="btn btn-default" href="looks/{{entry.id}}"><span class="glyphicon glyphicon-edit"></span></a>
                    <button class="btn btn-danger" (click)="deleteConfirm(entry)"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<a href="/looks/new" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
<button class="btn btn-success" (click)="upload(fileInput)"><span class="glyphicon glyphicon-cloud-upload"></span></button>
<input #fileInput type="file" name="name" style="display: none;" (change)="filesSelected($event.target.files)" multiple>