@{
    ViewData["Title"] = "Live Fixtures View";
}

@Html.Partial("LoadingPanel")
<binding-context data-bind="visible: load.done" style="display: none">
    <ul class="nav nav-pills nav-justified" data-bind="foreach: universes">
        <li data-bind="css: { active: $parent.selectedUniverse() == $data }"><a href="#" data-bind="text: displayText, click: $parent.selectUniverse.bind($parent)"></a></li>
    </ul>
    <binding-context data-bind="with: selectedUniverse">
        <ul class="nav nav-pills nav-justified" data-bind="foreach: fixtures">
            <li data-bind="css: { active: $parent.selectedFixture() == $data }"><a href="#" data-bind="text: name, click: $parent.selectFixture.bind($parent)"></a></li>
        </ul>
        <binding-context data-bind="with: selectedFixture">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                        <th>Value</th>
                        <th>DMX Value</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: attributes">
                    <tr>
                        <td data-bind="text: name"></td>
                        <td><input data-bind="disable: controlled, value: value, valueUpdate: 'input'" class="form-control" type="range" min="0" max="1" step="0.01"></td>
                        <td><input data-bind="disable: controlled, value: value" class="form-control" type="number" min="0" max="1" step="0.01"></td>
                        <td data-bind="text: dmxValue"></td>
                    </tr>
                </tbody>
            </table>
        </binding-context>
    </binding-context>
    
</binding-context>

@section scripts
{
    <environment names="Development">
        <script src="http://localhost:8080/fixturesLive.bundle.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/fixturesLive.bundle.js"></script>
    </environment>
}