@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Groups";
}

<binding-context data-bind="with: selectedItem">
    <modal-window large="true" id="modal-edit">
        <modal-header>Editing <span class="item-name" data-bind="text: name"></span></modal-header>
        <modal-body>
            @Html.Partial("ModalEditorStatus")
            <div class="form-horizontal" id="edit-form">
                <input-label label="Name:" data-bind="validationElement: name"><input type="text" class="form-control" data-bind="value: name"></input-label>
            </div>
        </modal-body>
        <modal-footer>
            @Html.Partial("ModalEditorFooter")
        </modal-footer>
    </modal-window>
</binding-context>

@Html.Partial("ItemList")

<button asp-template="edit" data-bind="click: reorder, visible: load.done">Change order</button>

<modal-window id="modal-reorder">
    <modal-header>Editing group order</modal-header>
    <modal-body>
        <ul class="list-group" data-bind="sortable: {foreach: items}">
            <li class="list-group-item" data-bind="text: name"></li>
        </ul>
    </modal-body>
    <modal-footer><button class="btn btn-success" data-bind="click: reorderSave">OK</button> </modal-footer>
</modal-window>

@section scripts
{
    <script>
        require(["Sortable", "knockout-sortablejs", "Controllers/Groups/Groups"]);
    </script>
}
