<div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li *ngFor="let universe of universes" [ngClass]="{'active': activeUniverse == universe}">
            <a (click)="activeUniverse = universe">{{universe.name}}</a>
        </li>
    </ul>
</div>

<div class="tab-content" *ngIf="activeUniverse">
    <ul class="nav nav-tabs" *ngIf="activeUniverse">
        <li [ngClass]="{'active': !editMode}"><a (click)="editMode = false">View Mode</a></li>
        <li [ngClass]="{'active': editMode}"><a (click)="editMode = true">Edit Mode</a></li>
    </ul>

    <div *ngIf="!editMode" class="tab-content">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>0</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rowNumber of range(0, 51)">
                    <th>{{rowNumber}}</th>
                    <td *ngFor="let columnNumber of range(0, 9)"
                        title="{{getChannel(rowNumber, columnNumber)?.address + 1}}" 
                        [ngStyle]="{'background-color': getChannel(rowNumber, columnNumber)?.style }"
                    >
                        {{getChannel(rowNumber, columnNumber)?.displayValue}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="editMode" class="tab-content">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Address</th>
                    <th>Value</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let channel of activeUniverse.channels; let i = index">
                    <td>{{i + 1}}</td>
                    <td><input type="range" min="0" max="255" step="1" [(ngModel)]="channel.value" (input)="updateValue(channel, $event.target.value)"
                            [name]="'dmxRange' + i" /></td>
                    <td><input class="form-control" type="number" min="0" max="255" step="1" [(ngModel)]="channel.value" (input)="updateValue(channel, $event.target.value)"
                            [name]="'dmxNum' + i" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>