<form (ngSubmit)="save()" #editorForm="ngForm">
    <mat-toolbar class="main-toolbar">
        <app-sidenav-toggle></app-sidenav-toggle>
        Venue Editor
        <span class="toolbar-spacer"></span>
        <button mat-icon-button type="button" (click)="addUniverse()" matTooltip="Add Universe">
            <mat-icon aria-label="Add Universe">add</mat-icon>
        </button>
        <button mat-icon-button color="primary" type="submit" [disabled]="editorForm.invalid" matTooltip="Save">
            <mat-icon aria-label="Save">save</mat-icon>
        </button>
    </mat-toolbar>

    <app-busy-card [loading]="loading" [saving]="saving"></app-busy-card>

    <mat-card class="main-card" *ngIf="!loading" @slideIn>
        <mat-card-title>Venue</mat-card-title>
        <mat-card-content>
            <div class="column">
                <mat-form-field>
                    <input required matInput type="text" name="name" [(ngModel)]="venue.name" placeholder="Name">
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngFor="let universe of venue?.universes; let i = index" @slideInOut>
        <mat-card-title>{{universe.name}}</mat-card-title>
        <app-universe-editor [universe]="universe" [groups]="groups"></app-universe-editor>
        <mat-card-actions>
            <button mat-icon-button color="warn" type="button" (click)="removeUniverse(i)" matTooltip="Remove Universe">
                <mat-icon>remove_circle</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</form>