<div *ngIf="groupIndex < groups.length && lookIndex < looks.length">
    <h2 *ngIf="currentGroup != null">Now testing {{currentGroup.name}}</h2>
    <progressbar [max]="groups.length" [value]="groupIndex + 1">
        <span style="color:white; white-space:nowrap;">{{groupIndex + 1}} / {{groups.length}}</span>
    </progressbar>
    <h3>{{currentLook.name}}</h3>
    <progressbar [max]="looks.length" [value]="lookIndex + 1">
        <span style="color:white; white-space:nowrap;">{{lookIndex + 1}} / {{looks.length}}</span>
    </progressbar>
    <button class="btn btn-primary" (click)="previousLook()" [disabled]="lookIndex == 0 && groupIndex == 0">Previous</button>
    <button class="btn btn-primary" (click)="nextLook()" [disabled]="lookIndex == (looks.length - 1) && (groupIndex == groups.length - 1)">Next</button>
</div>