<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button (click)="collapsed = !collapsed" type="button" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="#">Kadmium OSC DMX</a>
        </div>
        <div class="collapse navbar-collapse" [collapse]="collapsed">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/dashboard"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li dropdown class="dropdown">
                    <a class="dropdown-toggle" href dropdownToggle (click)="false">
                        <span class="glyphicon glyphicon-cog"></span> Setup
                        <span class="caret"></span>
                    </a>
                    <ul *dropdownMenu class="dropdown-menu">
                        <li routerLinkActive="active"><a class="dropdown-item" routerLink="/settings">Settings</a></li>
                        <li routerLinkActive="active"><a class="dropdown-item" routerLink="/groups">Groups</a></li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/looks"> <span class="glyphicon glyphicon-picture"></span> Looks</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/venues"> <span class="glyphicon glyphicon-th-list"></span> Venues</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/fixture-definitions"> <span class="glyphicon glyphicon-th-list"></span> Fixture Definitions</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/venue-tester"> <span class="glyphicon glyphicon-cog"></span> Venue Tester</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <app-notification-menu></app-notification-menu>
                </li>
            </ul>
        </div>
    </div>
</nav>