<!-- <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/dashboard" routerLinkActive #rlaDashboard="routerLinkActive" [active]="rlaDashboard.isActive">
        Dashboard
    </a>
    <a mat-tab-link routerLink="/settings" routerLinkActive #rlaSettings="routerLinkActive" [active]="rlaSettings.isActive">
        Settings
    </a>
    <a mat-tab-link routerLink="/groups" routerLinkActive #rlaGroups="routerLinkActive" [active]="rlaGroups.isActive">
        Groups
    </a>
    <a mat-tab-link routerLink="/fixture-definitions" routerLinkActive #rlaFixtureDefinitions="routerLinkActive" [active]="rlaFixtureDefinitions.isActive">
        Fixture Definitions
    </a>
    <a mat-tab-link routerLink="/venues" routerLinkActive #rlaVenues="routerLinkActive" [active]="rlaVenues.isActive">
        Venues
    </a>
</nav> -->