<mat-tab-group>
    <mat-tab label="Fixtures">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Selected</th>
                        <th>Address</th>
                        <th>Manufacturer</th>
                        <th>Model</th>
                        <th>Group</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fixture of sortedFixtures; let i = index">
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [ngModel]="isSelected(fixture)" (ngModelChange)="selectFixture(fixture, $event)" [name]="'selected[' + i + ']'">
                                </label>
                            </div>
                        </td>
                        <td>{{fixture.address}}</td>
                        <td>{{fixture.type.manufacturer}}</td>
                        <td>{{fixture.type.model}}</td>
                        <td>{{fixture.group}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button mat-raised-button color="primary" (click)="addFixture()">
            <mat-icon>add</mat-icon> Add Fixture
        </button>
        <button mat-raised-button color="primary" [disabled]="selectedFixtures.length == 0" (click)="savePresetAs(filename)">
            <mat-icon>cloud_download</mat-icon> Save Preset
        </button>
        <button mat-raised-button color="primary" (click)="upload(fileInput)">
            <mat-icon>cloud_upload</mat-icon> Load Preset
        </button>

    </mat-tab>
    <mat-tab *ngFor="let fixture of sortedFixtures; let i = index" label="{{fixture.address}} {{fixture.type.manufacturer}} {{fixture.type.model}}">
        <app-fixture-options-editor [fixture]="fixture" [groups]="groups"></app-fixture-options-editor>
    </mat-tab>
</mat-tab-group>

<input #fileInput type="file" name="name" style="display: none;" (change)="uploadFiles($event.target.files)" multiple>