@{
    ViewData["Title"] = "sACN Transmitters";
}

<modal-window large="true" id="modal-edit" data-bind="with: selectedItem">
    <modal-header>Editing <span class="item-name" data-bind="text: name"></span></modal-header>
    <modal-body>
        @Html.Partial("ModalEditorStatus")
        <div class="form-horizontal" id="edit-form">
            <input-label label="Name:" data-bind="validationElement: name"><input type="text" class="form-control" data-bind="value: name"></input-label>
            <input-label label="Description:"><input class="form-control" type="text" data-bind="value: description"></input-label>
            <input-label label="Delay (ms):" data-bind="validationElement: delay"><input class="form-control" data-bind="value: delay" min="0" max="30000"></input-label>
            <div class="form-group clearfix">
                <div class="col-sm-offset-2 col-sm-10 checkbox">
                    <label><input type="checkbox" data-bind="checked: multicast">Multicast</label>
                </div>
            </div>
            <input-collection name="unicast">
                <input-collection-header>Unicast targets</input-collection-header>
                <input-collection-body>
                    <input-collection-item label="Address">
                        <input class="form-control" type="url" data-bind="value: address">
                    </input-collection-item>
                    <input-collection-item label="Remove"><button asp-template="delete" data-bind="click: $parent.removeUnicast.bind($parent)"></button></input-collection-item>
                </input-collection-body>
                <input-collection-footer><button asp-template="add" data-bind="click: addUnicast"></button></input-collection-footer>
            </input-collection>
        </div>
    </modal-body>
    <modal-footer>
        @Html.Partial("ModalEditorFooter")
    </modal-footer>
</modal-window>

@Html.Partial("ItemList")
@Html.Partial("ModalDelete", ViewContext.RouteData.Values["controller"].ToString())

@section scripts
{
<script src="~/js/SACNTransmitters.js"></script>
}

