@model kadmium_osc_dmx_dotnet_core.Transmitters.SACNTransmitter
@using kadmium_osc_dmx_dotnet_webui.ViewHelpers;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "sACN Transmitter Live View - " + Model.Name;
}

<div class="form-group">
    <label for="universe-id" class="control-label col-sm-2">Universe ID</label>
    <div class="col-sm-10">
        <input type="number" min="1" max="63999" id="universe-id" data-bind="value: universeID" class="form-control">
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            @for(int i = 0; i < 10; i++)
            {
                <th>@i</th>
            }
        </tr>
    </thead>
    <tbody id="dmx">
        @for (int row = 0; row < 52; row++)
        {
            <tr>
                <th>@(row * 10)</th>
                @for (int column = 0; column < 10; column++)
                {
                    int address = 10 * row + column;
                    @if (address >= 1 && address <= 512)
                    {
                        <td title="@address" data-bind="text: channels()[@address - 1].value(), 
                            style: {background: channels()[@address - 1].color() }"></td>
                    }
                    else
                    {
                        <td></td>
                    }
                    
                }
            </tr>
        }
    </tbody>
</table>
@section scripts
{
    <environment names="Development">
        <script>
            require(["Controllers/Dashboard/SACNTransmitterLive/SACNTransmitterLive"])
        </script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/Release/sacnTransmitterLive.bundle.js"></script>
    </environment>
}