<modal-window large="true" id="options-edit">
    <modal-header>
        Editing <strong>Options</strong>
        for <span class="item-name" data-bind="text: fixture().type"></span>
        on channel <span class="item-name" data-bind="text: fixture().channel"></span>
    </modal-header>
    <modal-body>
        <div class="form-horizontal" data-bind="">
            <input-label label="Max Brightness (%):" data-bind="validationElement: maxBrightness">
                <input type="number" class="form-control" data-bind="value: maxBrightness" min="0" max="100" step="1">
            </input-label>
            <input-collection name="axisRestrictions" data-bind="visible: moving">
                <input-collection-header>
                    <strong>Axis Restrictions</strong>
                </input-collection-header>
                <input-collection-body>
                    <input-collection-item label="Name"><span data-bind="text: name"></span></input-collection-item>
                    <input-collection-item label="Restricted">
                        <input type="checkbox" class="checkbox" data-bind="checked: enabled">
                    </input-collection-item>
                    <input-collection-item label="Min">
                        <input type="number" class="form-control" min="-270" max="270" data-bind="value: min, enable: enabled">
                    </input-collection-item>
                    <input-collection-item label="Max">
                        <input type="number" class="form-control" min="-270" max="270" data-bind="value: max, enable: enabled">
                    </input-collection-item>
                </input-collection-body>
            </input-collection>
            <input-collection name="axisInversions" data-bind="visible: moving">
                <input-collection-header>
                    <strong>Axis Inversions</strong>
                </input-collection-header>
                <input-collection-body>
                    <input-collection-item label="Name">
                        <span data-bind="text: name"></span>
                    </input-collection-item>
                    <input-collection-item label="Inverted">
                        <input type="checkbox" class="checkbox" data-bind="checked: enabled" >
                    </input-collection-item>
                </input-collection-body>
            </input-collection>
        </div>
    </modal-body>
    <modal-footer><button class="btn btn-success" data-dismiss="modal">OK</button></modal-footer>
</modal-window>