@model InputSubWindow
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<input type="hidden" id="@Model.ID" value="[]">
<button class="btn btn-primary collection-edit" data-collection-id="@Model.ID" data-toggle="modal" data-target="#@Model.ID-edit" type="button"><span class="glyphicon glyphicon-edit"></span></button>