@model string
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<modal-window id="confirm-delete">
    <modal-header>
        Are You Sure?
    </modal-header>
    <modal-body>
        Are you sure you want to delete <span class="item-name" data-bind="text: selectedItem().name"></span>?
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-danger btn-ok" id="modal-delete" data-bind="click: deleteConfirm">Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </modal-footer>
</modal-window>