@using kadmium_osc_dmx_dotnet_core;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    EnablementOptions hasGroups = new EnablementOptions
    {
        EnablementFunction = (() => MasterController.Instance.Groups.Count > 0),
        DisabledTitle = "At least one group must be defined"
    };

    EnablementOptions venueLoaded = new EnablementOptions
    {
        EnablementFunction = (() => MasterController.Instance.Venue != null),
        DisabledTitle = "A venue must be loaded"
    };
    
    var Navbar = new[] {
        new NavbarItem("Setup",
            new NavbarItem("Settings"),
            new NavbarItem("Groups")
        ),
        new NavbarItem("Venues",
            new NavbarItem("Venues", enablementOptions: hasGroups),
            new NavbarItem("FixtureCollections", display: "Fixture Collections")
        ),
        new NavbarItem("FixtureDefinitions", display: "Fixture Definitions"),
        new NavbarItem("Tools",
            new NavbarItem("Testing", enablementOptions: venueLoaded, id: "testing"),
            new NavbarItem("Preview", "Preview2D", "2D Preview", enablementOptions: venueLoaded, id: "preview"),
            new NavbarItem("RawDMX", display: "Raw DMX", enablementOptions: venueLoaded, id: "rawDMX")
        ),
        new NavbarItem("Help",
            new NavbarItem("Help", "Index", "Help"),
            new NavbarItem("ProjectPage", "Project Page" ),
            new NavbarItem("Help", "About", "About")
        )
    };
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">kadmium-osc-dmx</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @foreach (NavbarItem item in Navbar)
                {
                    if (item.Children.Count() > 0)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                @item.Display <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @foreach (NavbarItem child in item.Children)
                                {
                                    @Html.Partial("NavbarItem", child);
                                }
                                
                            </ul>
                        </li>

                    }
                    else
                    {
                        @Html.Partial("NavbarItem", item);
                    }
                }
            </ul>
        </div>
    </div>
</div>