<app-busy-card [loading]="loading" [saving]="saving"></app-busy-card>
<form *ngIf="!loading && !saving" class="form-horizontal" #settingsForm="ngForm">
    <mat-card class="main-card">
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label='Ports'>
                    <mat-card>
                        <mat-card-content>
                            <div class="column">
                                <mat-form-field>
                                    <input matInput required type="number" name="webPort" min="1" max="65535" [(ngModel)]="settings.webPort" placeholder="HTTP Port"
                                    />
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput required type="number" name="oscPort" min="1" max="65535" [(ngModel)]="settings.oscPort" placeholder="OSC Port"
                                    />
                                </mat-form-field>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
                <mat-tab label="sACN">
                    <mat-card>
                        <mat-card-content>
                            <div class="column">
                                <mat-form-field>
                                    <input matInput required type="number" name="sacnTransmitterDelay" min="0" max="10000" [(ngModel)]="settings.sacnTransmitter.delay"
                                        placeholder="Delay (ms)" />
                                </mat-form-field>
                                <mat-checkbox [(ngModel)]="settings.sacnTransmitter.multicast" name="sacnMulticast">Multicast</mat-checkbox>
                            </div>

                            <h2>sACN Unicast Targets</h2>

                            <mat-list>
                                <mat-list-item *ngFor="let target of fakeTargets; let i = index" class="column">
                                    <mat-form-field>
                                        <input matInput required type="text" [(ngModel)]="target.target" [name]="'unicast[' + i + ']'" placeholder="Address" />
                                    </mat-form-field>
                                    <button mat-icon-button color="warn" (click)="removeElement(element)" matTooltip="Remove">
                                        <mat-icon aria-label="Remove">remove_circle</mat-icon>
                                    </button>
                                </mat-list-item>
                            </mat-list>

                            <button mat-icon-button (click)="addElement()" matTooltip="Add Target">
                                <mat-icon aria-label="Add">add</mat-icon>
                            </button>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
                <mat-tab label="Enttec Pro">
                    <mat-card>
                        <mat-card-content>
                            <div class="column">
                                <mat-form-field>
                                    <input matInput required type="number" name="enttecProTransmitterDelay" min="0" max="10000" [(ngModel)]="settings.enttecProTransmitter.delay"
                                        placeholder="Delay (ms)" />
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-select name="enttecProTransmitterPort" [(ngModel)]="settings.enttecProTransmitter.port" placeholder="Port">
                                        <mat-option *ngFor="let port of enttecPorts" [value]="port">{{port}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button color="primary" (click)="save()" [disabled]="!settingsForm.valid" matTooltip="Save">
                <mat-icon aria-label="Save">save</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>


</form>