<div class="panel panel-default">
    <div class="panel-heading">Universe</div>
    <div class="panel-body">
        <table class="table table-striped" *ngIf="venue != null && venue.activeUniverse != null">
            <thead>
                <tr>
                    <th></th>
                    <th>0</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rowNumber of range(0, 51)">
                    <th>{{rowNumber}}</th>
                    <td *ngFor="let columnNumber of range(0, 9)" #element [attr.contenteditable]="!isControlled(rowNumber, columnNumber)" title="{{rowNumber * 10 + columnNumber}}"
                        [ngStyle]="{'background-color': getStyle(getChannelValue(rowNumber, columnNumber))}" [ngClass]="{'controlled': isControlled(rowNumber, columnNumber)}"
                        (blur)="setChannelValue(rowNumber, columnNumber,element)">
                        {{getDisplayValue(getChannelValue(rowNumber, columnNumber))}}
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>