<form *ngIf="look" class="form-horizontal" #editorForm="ngForm">
    <fieldset [disabled]="saving">
        <labelled-input label="Name:">
            <input required #input class="form-control" type="text" name="name" [(ngModel)]="look.name" #model="ngModel">
        </labelled-input>

        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li *ngFor="let group of allGroups" role="presentation" [ngClass]="{'active': activeGroup == group}">
                    <a role="tab" data-toggle="tab" (click)="activeGroup = group">{{group.name}}</a>
                </li>
            </ul>
        </div>

        <div class="panel panel-default" *ngIf="activeGroup">
            <div class="panel-heading">Settings</div>
            <div class="panel-body">
                <datalist name="attributeList" id="attributeList">
                    <option>Strobe</option>
                    <option>Pan</option>
                    <option>Tilt</option>
                    <option>RandomMove</option>
                </datalist>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Attribute Name</th>
                            <th>Attribute Value</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let setting of getColorSettings(activeGroup); let i = index">
                            <td><span>Color</span></td>
                            <td>
                                <table-input>
                                    <input #input #model="ngModel" required class="form-control" type="color" [(ngModel)]="setting.color" [name]="'color[' + i + ']'" />
                                </table-input>
                            </td>
                            <td>
                                <button class="btn btn-danger" (click)="removeColorSetting(setting)"><span class="glyphicon glyphicon-remove"></span></button>
                            </td>
                        </tr>
                        <tr *ngFor="let setting of getAttributeSettings(activeGroup); let i = index">
                            <td>
                                <table-input>
                                    <input #input #model="ngModel" required class="form-control" type="text" [(ngModel)]="setting.attributeName" [name]="'attributeName[' + i + ']'"
                                        list="attributeList" />
                                </table-input>
                            </td>
                            <td>
                                <table-input>
                                    <input #input #model="ngModel" required class="form-control" type="number" [(ngModel)]="setting.attributeValue" min="0" max="1"
                                        step="0.01" [name]="'attributeValue[' + i + ']'" />
                                </table-input>
                            </td>
                            <td>
                                <button class="btn btn-danger" (click)="removeAttributeSetting(setting)"><span class="glyphicon glyphicon-remove"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <button class="btn btn-success" (click)="addColorSetting(activeGroup)" [disabled]="hasColor(activeGroup)">
                    <span class="glyphicon glyphicon-plus"></span> Add Color
                </button>
                <button class="btn btn-success" (click)="addAttributeSetting(activeGroup)">
                    <span class="glyphicon glyphicon-plus"></span> Add Attribute
                </button>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" (click)="save()" [disabled]="!editorForm.valid"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
        </div>
    </fieldset>
</form>