<div *ngFor="let message of messages; let i = index">
    <div class="alert" [ngClass]="message.alertStyle">
        <a class="close" (click)="remove(message)" aria-label="close">&times;</a>
        <span class="glyphicon" [ngClass]="message.glyphIcon"></span> {{message.message}}
        <br>
        <button class="btn btn-default" *ngIf="message.body" (click)="iframeLoad(i)" [attr.data-target]="'#error-details-' + i" data-toggle="modal">Details</button>
        <div *ngIf="message.body" [attr.id]="'error-details-' + i" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg" [attr.id]="'error-modal-' + i">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" [attr.id]="'modal-header-' + i">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Error Details</h4>
                    </div>
                    <div class="modal-body">
                        <iframe #iframeRef [srcdoc]="getBody(message)" [attr.id]="'error-details-iframe-' + i" 
                                class="error-frame"></iframe>
                    </div>
                    <div class="modal-footer" [attr.id]="'modal-footer-' + i">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>