<app-busy-card [loading]="!loaded" [saving]="false"></app-busy-card>
<mat-card *ngIf="loaded" class="dashboard-card" [ngClass]="status?.cardClass" @slideIn>
    <mat-card-title>Enttec Pro Transmitter</mat-card-title>
    <mat-card-subtitle>{{status?.body}}</mat-card-subtitle>
    <mat-card-actions style="display: flex">
        <span style="flex: 1"></span>
        <mat-slide-toggle [checked]="enabled" color="primary" [disabled]="!enabledDetermined" (change)="toggleEnabled()">{{enabled ? "Enabled" : "Disabled"}}</mat-slide-toggle>
    </mat-card-actions>
</mat-card>