<mat-card class="dashboard-card" [ngClass]="status?.cardClass" @slideIn>
    <mat-card-title>OSC Listener</mat-card-title>
    <mat-card-subtitle>{{status?.body}}</mat-card-subtitle>
    <mat-card-content>
        <app-busy-card [loading]="!loaded" [saving]="false"></app-busy-card>
    </mat-card-content>
    <mat-card-actions>
        <div style="display: flex; align-items: center">
            <button mat-button routerLink="/oscListener">
                <mat-icon>search</mat-icon>
                <span class="button-text">Messages</span>
            </button>
            <span style="flex: 1"></span>
            <mat-slide-toggle [checked]="enabled" [disabled]="!enabledDetermined" (change)="toggleEnabled()">
                {{enabled ? "Enabled" : "Disabled"}}
            </mat-slide-toggle>
        </div>
    </mat-card-actions>
</mat-card>