<div role="tabpanel" *ngIf="universe && skeletons">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li [ngClass]="{'active': selectedFixture == null}">
            <a (click)="selectedFixture = null">Fixtures</a>
        </li>
        <li *ngFor="let fixture of universe.fixtures; let i = index" [ngClass]="{'active': selectedFixture == fixture}">
            <a (click)="selectedFixture = fixture">{{fixture.channel}} {{fixture.type.manufacturer}} {{fixture.type.model}}
                <span class="glyphicon glyphicon-remove" (click)="removeFixture(i)"></span>
            </a>
        </li>
        <li>
            <a class="btn" (click)="addFixture()"><span class="glyphicon glyphicon-plus"></span></a>
        </li>
    </ul>
</div>
<div class="panel panel-default" *ngIf="universe && skeletons && selectedFixture == null">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Selected</th>
                        <th>Manufacturer</th>
                        <th>Model</th>
                        <th>Channel</th>
                        <th>Group</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fixture of universe.fixtures; let i = index">
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [ngModel]="isSelected(fixture)" (ngModelChange)="selectFixture(fixture, $event)" [name]="'selected[' + i + ']'" >
                                </label>
                            </div>
                        </td>
                        <td>{{fixture.type.manufacturer}}</td>
                        <td>{{fixture.type.model}}</td>
                        <td>{{fixture.channel}}</td>
                        <td>{{fixture.group}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-4">
                <button class="btn btn-success" (click)="addFixture()"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <div class="col-sm-8 text-right">
                <div class="col-sm-8">
                    <select class="form-control" [(ngModel)]="selectedPresetName" name="selectedPreset">
                    <option *ngFor="let venuePresetName of venuePresetNames">{{venuePresetName}}</option>
                </select>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-success" [disabled]="selectedPresetName == null" (click)="loadPreset(selectedPresetName)">
                    <span class="glyphicon glyphicon-floppy-open"></span>
                </button>
                    <button type="button" class="btn btn-primary" [disabled]="selectedFixtures.length == 0" (click)="savePreset()">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
                    <button type="button" class="btn btn-danger" [disabled]="selectedPresetName == null" (click)="removePreset(selectedPresetName)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                </div>
            </div>
        </div>
    </div>
</div>
<fixture-options-editor #fixtureOptionsEditor [fixture]="selectedFixture" ></fixture-options-editor>