<div class="page-header">
    <h1>Venues</h1>
</div>
<message-bar #messageBar></message-bar>
<table class="table table-striped" *ngIf="venues">
    <thead>
        <tr>
            <th>Venue</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of venues; let i = index">
            <td>{{entry.name}}</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-default" [href]="getEditUrl(entry)"><span class="glyphicon glyphicon-edit"></span></a>
                    <button class="btn btn-danger" (click)="deleteConfirm(i)"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<a class="btn btn-success" href="venues/new"><span class="glyphicon glyphicon-plus"></span></a>