<div class="column top-margin">
    <mat-form-field>
        <input required matInput [(ngModel)]="universe.name" type="text" [name]="'universeName[' + universe.universeID + ']'" placeholder="Name"
        />
    </mat-form-field>
    <mat-form-field>
        <input required matInput [(ngModel)]="universe.universeID" type="number" min="1" max="65535" [name]="'universeID[' + universe.universeID + ']'"
            placeholder="Universe ID" />
    </mat-form-field>
</div>

<mat-toolbar class="sub-toolbar">
    Fixtures
    <span class="toolbar-spacer"></span>
    <button mat-icon-button type="button" (click)="addElements()" matTooltip="Add Fixtures">
        <mat-icon aria-label="Add Multiple Fixtures">playlist_add</mat-icon>
    </button>
    <button mat-icon-button type="button" [disabled]="universe?.fixtures.length == 0" (click)="savePresetAs()" matTooltip="Save Preset">
        <mat-icon aria-label="Save Preset">cloud_download</mat-icon>
    </button>
    <button mat-icon-button type="button" (click)="upload(fileInput)" matTooltip="Load Preset">
        <mat-icon aria-label="Load Preset">cloud_upload</mat-icon>
    </button>
</mat-toolbar>

<mat-card *ngFor="let fixture of universe?.fixtures; let i = index">
    <mat-card-title>{{fixture.address}}</mat-card-title>
    <mat-card-content>
        {{fixture.type.manufacturer}} {{fixture.type.model}}<br> {{fixture.group}}
    </mat-card-content>
    <mat-card-actions style="text-align: right">
        <button mat-icon-button type="button" (click)="edit(i)" matTooltip="Edit">
            <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button type="button" (click)="options(fixture)" matTooltip="Fixture Options">
            <mat-icon aria-label="Settings">settings</mat-icon>
        </button>
        <button mat-icon-button type="button" color="warn" (click)="removeElement(i)" matTooltip="Remove Fixture">
            <mat-icon aria-label="Remove">remove_circle</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>

<input #fileInput type="file" name="name" style="display: none;" (change)="uploadFiles($event.target.files)" multiple>