@using kadmium_osc_dmx_dotnet_core
@using kadmium_osc_dmx_dotnet_core.Transmitters
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Raw DMX";
}

@Html.Partial("LoadingPanel")

<binding-context data-bind="visible: load.done" style="display: none">
    <div class="form-group">
        <label class="control-label col-sm-3" for="universe">Transmitter</label>
        <select id="transmitter" class="form-control" data-bind="value: transmitter">
            @foreach (string transmitterName in MasterController.Instance.Transmitters.Keys)
            {
                <option>@transmitterName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="universe">Universe ID</label>
        <input type="number" id="universeID" class="form-control" min="1" max="63999" data-bind="value: universeID">
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Channel</th>
                <th>Value</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody id="channels-body" data-bind="foreach: channels">
            <tr>
                <td data-bind="text: $index() + 1"></td>
                <td><input class="form-control" type="range" min="0" max="255" data-bind="value: value, valueUpdate: 'input'"></td>
                <td><input class="form-control" type="number" min="0" max="255" data-bind="value: value"></td>
            </tr>
        </tbody>
    </table>
</binding-context>
@section scripts
{
    <script>
        require(["Controllers/RawDMX/RawDMX"])
    </script>
}
