@using kadmium_osc_dmx_dotnet_core
@using kadmium_osc_dmx_dotnet_core.Transmitters
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Raw DMX";
}

@Html.Partial("LoadingPanel")

<binding-context data-bind="visible: load.done, enable: websocketOpen()" style="display: none">
    <div class="form-group">
        <label class="control-label col-sm-3" for="universe">Universe</label>
        <select class="form-control" data-bind="value: universe, enable: websocketOpen">
            @foreach (var universe in MasterController.Instance.Venue?.Universes ?? Enumerable.Empty<Universe>())
            {
                <option>@universe.Name</option>
            }
        </select>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Channel</th>
                <th>Value</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody id="channels-body" data-bind="foreach: channels">
            <tr>
                <td data-bind="text: $index() + 1"></td>
                <td><input class="form-control" type="range" min="0" max="255" data-bind="value: value, enable: $parent.websocketOpen, valueUpdate: 'input'"></td>
                <td><input class="form-control" type="number" min="0" max="255" data-bind="value: value, enable: $parent.websocketOpen"></td>
            </tr>
        </tbody>
    </table>
</binding-context>
@section scripts
{
    <environment names="Development">
        <script src="http://localhost:8080/rawDMX.bundle.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/rawDMX.bundle.js"></script>
    </environment>
}
