<div class="page-header">
    <h1>Dashboard</h1>
</div>
<message-bar #messageBar></message-bar>
<div class="row">
    <div class="col-md-3">
        <status-panel #venue name="Venue">
            <div class="dropdown" *ngIf="venueNames">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Load Venue
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li *ngFor="let venueName of venueNames">
                        <a (click)="activateVenue(venueName)">{{venueName}}</a>
                    </li>
                </ul>
            </div>
        </status-panel>
    </div>
    <div class="col-md-3">
        <status-panel #sacnTransmitter name="sACN Transmitter">
            <div class="btn-group">
                <button class="btn" [ngClass]="{'btn-success': sacnEnabled, 'btn-danger': sacnEnabled == false, 'btn-warning': sacnEnabled == null}"
                    (click)="toggleSACN()" [disabled]="sacnEnabled == null">{{getStatusText(sacnEnabled)}}</button>
                    <a class="btn btn-primary" routerLink="/sacnTransmitterLive">Debug</a>
            </div>
        </status-panel>
    </div>
    <div class="col-md-3">
        <status-panel #oscListener name="OSC Listener">
            <div class="btn-group">
                <button class="btn" [ngClass]="{'btn-success': oscEnabled, 'btn-danger': oscEnabled == false, 'btn-warning': oscEnabled == null}"
                    (click)="toggleOSC()" [disabled]="oscEnabled == null">{{getStatusText(oscEnabled)}}</button>
                    <a class="btn btn-primary" routerLink="/oscListenerLive">Debug</a>
            </div>
        </status-panel>
    </div>
    <div class="col-md-3">
        <status-panel #fixtures name="Fixtures">
            <a class="btn btn-primary" routerLink="/fixturesLive">Debug</a>
        </status-panel>
    </div>
    <div class="col-md-3">
        <status-panel #solvers name="Solvers">
            <button class="btn" [ngClass]="{'btn-success': solversEnabled, 'btn-danger': solversEnabled == false, 'btn-warning': solversEnabled == null}"
                (click)="toggleSolvers()" [disabled]="solversEnabled == null || fixtures.status.code != 'Success'">{{getStatusText(solversEnabled)}}</button>
        </status-panel>
    </div>
</div>