<div class="row">
    <div class="col-md-3">
        <status-panel #venuePanel name="Venue">
            <div class="dropdown" *ngIf="venueSkeletons">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Load Venue
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li *ngFor="let venueSkeleton of venueSkeletons">
                        <a (click)="activateVenue(venueSkeleton)">{{venueSkeleton.name}}</a>
                    </li>
                </ul>
            </div>
        </status-panel>
    </div>
    <div class="col-md-3">
        <status-panel #sacnTransmitterPanel name="sACN Transmitter">
            <div class="btn-group">
                <button class="btn" [ngClass]="sacn.buttonClass" (click)="toggle(sacn)" [disabled]="sacn.enabled == null">{{sacn.statusText}}</button>
                <button class="btn btn-primary" [disabled]="!sacn.enabled || fixturesPanel.status.code != 'Success'" routerLink="/sacnTransmitterLive">Debug</button>
            </div>
        </status-panel>
    </div>
    <div class="col-md-3">
        <status-panel #oscListenerPanel name="OSC Listener">
            <div class="btn-group">
                <button class="btn" [ngClass]="osc.buttonClass" (click)="toggle(osc)" [disabled]="osc.enabled == null">{{osc.statusText}}</button>
                <a class="btn btn-primary" routerLink="/oscListenerLive">Debug</a>
            </div>
        </status-panel>
    </div>
    <div class="col-md-3">
        <status-panel #solversPanel name="Solvers">
            <div class="btn-group">
                <button class="btn" [ngClass]="solvers.buttonClass" (click)="toggle(solvers)" [disabled]="solvers.enabled == null || fixturesPanel.status.code != 'Success'">{{solvers.statusText}}</button>
                <a class="btn btn-primary" routerLink="/solversLive">Debug</a>
            </div>
        </status-panel>
    </div>
    <div class="col-md-3">
        <status-panel #fixturesPanel name="Fixtures">
            <a routerLink="/fixturesLive" class="btn btn-primary">Debug</a>
        </status-panel>
    </div>
</div>