<div class="mat-typography">
	<form #editorForm="ngForm">
		<h1 mat-dialog-title>Add Fixture to Group</h1>
		<div mat-dialog-content>
			<mat-button-toggle-group #toggleGroup="matButtonToggleGroup" style="width: 100%">
				<div class="column" style="width: 100%">
					<mat-button-toggle *ngFor="let group of groups" [value]="group.name">
						{{group.name}}
					</mat-button-toggle>
				</div>
			</mat-button-toggle-group>
		</div>

		<div mat-dialog-actions>
			<button mat-button color="primary" [mat-dialog-close]="toggleGroup.value" tabindex="2" [disabled]="!editorForm.valid">
				<mat-icon>done</mat-icon>
				OK
			</button>
			<button mat-button [mat-dialog-close]="null" tabindex="-1">
				<mat-icon>cancel</mat-icon>
				Cancel
			</button>
		</div>
	</form>
</div>