<div class="mat-typography">
    <h1 mat-dialog-title>Save Preset</h1>
    <div mat-dialog-content>
        <p>Select fixtures to export</p>
        <mat-selection-list #fixtures>
            <mat-list-option *ngFor="let fixture of data.fixtures" [value]="fixture">
                {{fixture.address}} {{fixture.type.manufacturer}} {{fixture.type.model}}
            </mat-list-option>
        </mat-selection-list>

        <p>Please enter a filename</p>
        <mat-form-field>
            <input matInput tabindex="1" #filename placeholder="Filename">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="save(filename.value, fixtures.selectedOptions.selected)" tabindex="2">Save</button>
        <button mat-button (click)="cancel()" tabindex="-1">Cancel</button>
    </div>
</div>