<mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon aria-label="Menu">menu</mat-icon>
    </button>
    <span>{{titleService.getTitle()}}</span>
</mat-toolbar>

<mat-sidenav-container class="mat-typography">
    <mat-sidenav #sidenav [opened]="!isNarrow" [mode]="isNarrow ? 'over' : 'side' ">
        <mat-nav-list>
            <a mat-list-item routerLink="/dashboard" routerLinkActive="active" class="sidenavLink" (click)="toggle(sidenav)">
                Dashboard
            </a>
            <a mat-list-item routerLink="/settings" routerLinkActive="active" class="sidenavLink" (click)="toggle(sidenav)">
                Settings
            </a>
            <a mat-list-item routerLink="/groups" routerLinkActive="active" class="sidenavLink" (click)="toggle(sidenav)">
                Groups
            </a>
            <a mat-list-item routerLink="/fixture-definitions" routerLinkActive="active" class="sidenavLink" (click)="toggle(sidenav)">
                Fixture Definitions
            </a>
            <a mat-list-item routerLink="/venues" routerLinkActive="active" class="sidenavLink" (click)="toggle(sidenav)">
                Venues
            </a>
            <a mat-list-item routerLink="/venue-discovery" routerLinkActive="active" class="sidenavLink" (click)="toggle(sidenav)">
                Venue Discovery
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <div fxFlex class="body-content">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>