.sidenavLink {
    padding-right: 2em;
}

.title-bar {
    position: fixed;
    z-index: 2;
}

@media(min-width: 601px) {
    .title-bar-margin {
        margin-top: 64px;
    }
}

@media(min-width: 961px) {
    .body-margin {
        flex: 1;
    }
    .body-content {
        margin-top: 2em;
        flex: 10;
    }
}

@media(min-width: 1281px) {
    .body-margin {
        flex: 2;
    }
    .body-content {
        flex: 8;
    }
}

@media(max-width: 960px) {
    .body-content {
        flex: 12;
    }
}

@media(max-width: 600px) {
    .title-bar-margin {
        margin-top: 56px;
    }
}